body {
    margin: 0;
}

.header {
    background-color: #6699cc;
    border: 2px black solid;
    height: 50px;
}

.search {
    float: right;
}

.menu {
    float: left;
}

.navbar {
    flex-flow: column;
    text-align: center;
}

.navbar .content {
    border: 2px black solid;
    flex: 0 1 auto;
}

.sidebar {
    float: left;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.flex-direction {
    flex-direction: row;
}

.div1 {
    border-right: 1px solid black;
    background-color: #727272;
    width: 250px;
    height: 250px;
}

.container {
    border: 1px solid black;
}

.flex-direction {
    flex-direction: row;
}

.div1 {
    border-right: 1px solid black;
    background-color: #727272;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.div1 img {
    height: 100%;
    width: auto;
}

.div1 span {
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 132px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .flex-direction {
        flex-direction: column;
    }
    .div1 {
        width: 202px;
        height: 131px;
        border-right: none;
        border-bottom: 1px solid black;
    }
}

 :focus {
    outline: 3px solid red;
}


/*.searchbox {
    float: left;
    border: 2px;
    border-color: black;
    border-style: solid;
    background-color: #6699cc;
}

input[type=text] {
    padding: 2px;
    margin-top: 2px;
    font-size: 17px;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.searchbox button {
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
    background: orange;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.searchbox button:hover {
    background: blue;
}*/

.sisalto {
    text-align: center;
}